$spacing: 0.25rem;

// Colors //

$colors: (
  "red": #dc3545,
  "blue": #0d6efd,
  "green": #198754,
  "yellow": #ffc107,
  "grey": #6c757d,
  "black": #000,
  "white": #fff,
  "lightgrey": #e5e5e5,
  "primary": #0d6efd,
  "secondary": #6c757d,
  "bg-color": #f8f9fa,
  "dark-bg-color": #212529,
);

// Breakpoints //

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);
