@use "../partials/functions" as f;

@layer components {
  .auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: f.rem(32);
    background-color: var(--bg-color);
  }

  .auth-form {
    width: 100%;
    max-width: f.rem(420);
    background-color: var(--grey);
    border: 1px solid var(--border-color);
    border-radius: f.rem(8);
    padding: f.rem(32);

    &__title {
      font-size: f.rem(24);
      font-weight: 700;
      margin: 0 0 f.rem(24);
      text-align: center;
      color: var(--text-color);
    }

    &__errors {
      margin-bottom: f.rem(16);
    }

    &__error {
      background-color: var(--white);
      color: var(--red);
      font-size: f.rem(14);
      margin: 0 0 f.rem(4);
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: f.rem(16);
    }

    &__group {
      display: flex;
      flex-direction: column;
    }

    &__label {
      font-size: f.rem(14);
      font-weight: 600;
      margin-bottom: f.rem(6);
      color: var(--text-color);
    }

    &__input {
      width: 100%;
      padding: f.rem(10) f.rem(12);
      border: 1px solid var(--border-color);
      border-radius: f.rem(6);
      font-size: f.rem(15);
      font-family: inherit;
      line-height: 1.5;
      transition:
        border-color 0.2s,
        box-shadow 0.2s;

      &:focus {
        border-color: var(--blue);
        outline: none;
        box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
      }
    }

    &__help {
      font-size: f.rem(13);
      color: var(--text-color);
      margin-top: f.rem(4);
    }

    &__footer {
      text-align: center;
      margin-top: f.rem(20);
      font-size: f.rem(14);
      color: var(--text-color);
    }

    &__link {
      color: var(--text-color);
      text-decoration: none;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
