@use "../partials/functions" as f;
@layer components {
  .button {
    display: inline-block;
    padding: f.rem(10) f.rem(16);
    border-radius: f.rem(6);
    background-color: var(--black);
    font-size: 1rem;
    font-weight: 600;
    line-height: f.rem(18);
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: var(--black-hover);
    }
     &:focus {
    outline: 2px solid var(--blue);
    outline-offset: 2px;
    }

    &:disabled {
    background-color: var(--grey);
    color: var(--white);
    cursor: not-allowed;
    opacity: 0.6;
    }

    // modifiers de couleur
    &--primary {
      background-color: var(--blue);
      &:hover {
        background-color: var(--blue-hover);
      }
    }
    &--secondary {
      background-color: var(--grey);
      &:hover {
        background-color: var(--grey-hover);
      }
    }
    &--danger {
      background-color: var(--red);
      &:hover {
        background-color: var(--red-hover);
      }
    }

    // modifiers de taille
    &--lg {
      padding: f.rem(16) f.rem(24);
    }

    &--sm {
      font-size: f.rem(14);
      line-height: f.rem(16);
      padding: f.rem(8) f.rem(12);
    }
  }
}
