@use "../partials/functions" as f;
@layer components {
  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: f.rem(10);
    width: f.rem(320);
    border-radius: f.rem(6);
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: f.rem(20);
    border: solid thin var(--lightgrey);
    overflow: hidden;
    &__image {
      margin-block: f.rem(-20) f.rem(10);
      margin-inline: f.rem(-20);
      max-width: unset;
      width: inherit;
      aspect-ratio: 320/200;
      object-fit: cover;
    }
    &__title {
      font-size: f.rem(20);
      font-weight: 600;
      line-height: f.rem(24);
      margin-block: 0;
    }
    &__text {
      font-size: f.rem(16);
      font-weight: 400;
      line-height: f.rem(24);
      margin-block: 0;
    }
    &--full {
      width: 100%;
    }
  }
}
