@use "../partials/functions" as f;

@layer components {
  .footer {
    background-color: var(--lightgrey);
    padding: f.rem(32) 0;
    margin-top: auto;
    border-top: 1px solid var(--grey);
    text-align: center;

    &__text {
      color: var(--grey); // Using grey directly for footer text
      font-size: f.rem(14);
    }
  }
}
