@use "../partials/functions" as f;
@use "../partials/variables" as v;

@layer components {
  .form {
    &__label {
      display: block;
      margin-bottom: f.rem(8);
      font-weight: 600;
      color: var(--text-color);
    }

    &__input {
      width: 100%;
      padding: f.rem(8) f.rem(12);
      border: 1px solid var(--border-color);
      border-radius: f.rem(6);
      background-color: var(--bg-input);
      color: var(--text-color);
      font-size: f.rem(16);
      line-height: f.rem(20);
      transition: border-color 0.2s, box-shadow 0.2s;

      &:focus {
        border-color: var(--blue);
        outline: none;
        box-shadow: 0 0 0 2px var(--blue-hover);
      }

      &:disabled {
        background-color: var(--grey);
        cursor: not-allowed;
        opacity: 0.6;
      }
    }

    &__error {
      margin-top: f.rem(4);
      font-size: f.rem(14);
      color: var(--red);
    }
  }
}
