@use "../partials/functions" as f;
@use "../partials/variables" as v;

@layer components {
  .form {
    width: 100%;

    &__label {
      display: block;
      margin-bottom: f.rem(8);
      font-weight: 600;
      color: var(--text-color);
    }

    &__input,
    &__textarea {
      width: 100%;
      padding: f.rem(10) f.rem(12);
      border: 1px solid var(--border-color);
      border-radius: f.rem(6);
      font-size: f.rem(15);
      line-height: 1.5;
      font-family: inherit;
      transition:
        border-color 0.2s,
        box-shadow 0.2s;

      &:focus {
        border-color: var(--blue);
        outline: none;
        box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
      }

      &:disabled {
        background-color: hsla(var(--h), var(--s), calc(var(--l) - 5%), 1);
        cursor: not-allowed;
        opacity: 0.6;
      }
    }

    &__textarea {
      min-height: f.rem(100);
      resize: vertical;
    }

    &__group {
      margin-bottom: f.rem(20);

      &--checkbox {
        display: flex;
        align-items: center;
        gap: f.rem(8);

        input {
          width: auto;
          margin: 0;
        }

        label {
          margin: 0;
          font-weight: 400;
        }
      }
    }

    &__file {
      padding: f.rem(8) 0;
      font-size: f.rem(14);
    }

    &__error {
      margin-top: f.rem(4);
      font-size: f.rem(14);
      color: var(--red);
    }
  }
}
