@use "../partials/functions" as f;

@layer components {
  .navbar {
    &__list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: f.rem(16);
    }

    &__item {
      display: inline-block;
    }

    &__link {
      color: var(--text-color);
      text-decoration: none;
      font-weight: 500;
      transition: color 0.2s;

      &:hover,
      &--active {
        color: var(--primary);
      }
    }
  }
}
