@use "../partials/functions" as f;

@layer components {
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: f.rem(32);

    &__list {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: f.rem(8);
    }

    &__link {
      display: block;
      padding: f.rem(8) f.rem(12);
      text-decoration: none;
      color: var(--text-color);
      border: 1px solid var(--grey);
      border-radius: f.rem(4);
      transition: all 0.2s;

      &:hover,
      &--active {
        background-color: var(--blue);
        color: var(--white);
        border-color: var(--blue);
      }
    }
  }
}
