name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

env:
  DOCKERHUB_USERNAME: rubenmuya9129501

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"
          tools: composer:v2

      - name: Validate composer.json
        run: composer validate --strict
        working-directory: ./app

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress
        working-directory: ./app

      - name: Run PHP Lint
        run: find src -name "*.php" -print0 | xargs -0 -n1 php -l
        working-directory: ./app

      - name: Login to Docker Hub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        if: github.event_name == 'push'
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        if: github.event_name == 'push'
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          push: true
          tags: ${{ env.DOCKERHUB_USERNAME }}/nextcms:latest
      - name: Render trigger deployment
        if: github.event_name == 'push'
        run: curl -X POST "${{ secrets.RENDER_DEPLOY_HOOK_URL_STAGING }}"
